<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid d-flex justify-content-between">
      <div class=" bread flex-column align-items-center">
          <a class="navbar-brand" href="#">Ecommerce Dashboard</a>
          <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Ecommerce</li>
          </ol>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center w-100 justify-content-end">
              <li class="nav-item">

                  <form class="d-flex float-end w-100 w-lg-50" role="search">
                      <input class="search-input form-control rounded-pill" type="search" placeholder="Search"
                          aria-label="Search">
                      <span class="mt-2"><i class="search-icon fa-solid fa-magnifying-glass"></i></span>
                  </form>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i
                          class="fa-regular fa-bell rounded-circle p-2 iconc"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i
                          class="fa-regular fa-bookmark rounded-circle p-2 iconc"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i
                          class="fa-regular fa-moon rounded-circle p-2 iconc"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"> <i
                          class="fa-regular fa-envelope rounded-circle p-2 iconc"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"> <i
                          class="fa-solid fa-bag-shopping rounded-circle p-2 iconc"></i></a>
              </li>

              <li class="nav-item">
                  <div class="profile d-flex ms-2 me-4 mt-1 align-self-center">
                      <img src="../assets/images/profile.jpg" alt="" height="30px"
                          class="image-fluid my-2 rounded-circle" />
                      <div class="profile-name ms-1    flex-column">
                          <p class="mx-1 my-0 ">Alen Miler</p>
                          <a class="nav-link dropdown-toggle p-0" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              UI Designer
                          </a>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Log Out</a></li>
                          </ul>
                      </div>
                  </div>
              </li>
          </ul>


      </div>
  </div>
</nav>