<!-- <div class="container-fluid m-0 p-0">
    <div class="d-flex">
        <div [style.display]="display" class="sidebar d-md-none">
            <app-sidebar></app-sidebar>
        </div>
        <div class="sidebar d-sidebar ">
            <app-sidebar></app-sidebar>
        </div>
        <div class="toggle-icon" (click)="toggleSidebar()">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
        <div class="content">
            <app-header></app-header>
            <app-dashboard></app-dashboard>
        </div>

    </div>
</div> -->

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="bg-dark col-auto sidebar vh-100 d-flex flex-column justify-content-between ">
            <div class="bg-dark p-2">
                <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
                    <div class="logo-close d-flex  w-100   mt-2 ms-2">
                        <div class="image-logo mt-3 ">
                            <img src="../assets/images/logo.jpg" width="40px" class="image-fluid">
                        </div>
                        <div class="logo-text ms-1 mt-3">
                            <span class="text-white fs-2 fw-bold mt-0 d-none d-sm-inline">Mofi</span>
                        </div>
                        <div class="close-logo bg-secondary mt-3   ms-4 d-none d-sm-inline d-flex justify-content-center" >
                            <i class="lni lni-grid-alt text-white "></i>
                        </div>
                      </div>
                </a>
                <div class="head text-white mt-5 mx-0 d-flex justify-content-center bg-secondary ">
                    <p class="">General</p> 
              </div>
              <div class="general-ul bg-sm-secondary">
            <ul class="my-2 mx-0">
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu1" class="nav-link  align-middle">
                      <div><i class="fa-solid fa-house text-white me-2"></i><span class="ms-1 d-none d-sm-inline text-white fs-6 	">Dashboards</span></div>
                      <i class="fa-solid fa-angle-right ms-4 fs-6 text-white 	 "></i> 
                  </a>
                   <ul class="collapse text-white ms-1" id="submenu1">
                      <li >
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Default</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Project</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Ecommerce</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Education</span></a>
                      </li>
                  </ul>
              </li>
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu2" class="nav-link">
                    <div>  <i class="fa-solid fa-chart-pie text-white  me-2"></i> <span class="ms-1 d-none d-sm-inline text-white fs-6">Widgets</span></div>
                      <i class="fa-solid fa-angle-right ms-4 fs-6 text-white "></i> 
                  </a>
                   <ul class="collapse text-white ms-1" id="submenu2">
                      <li >
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Default</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Project</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Ecommerce</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Education</span></a>
                      </li>
                  </ul>
              </li>
             
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu3" class="nav-link px-0 align-middle">
                     <div> <i class="fa-regular fa-file-lines text-white  me-2"></i> <span class="ms-1 d-none d-sm-inline text-white fs-6">Page Layouts</span></div>
                      <i class="fa-solid fa-angle-right ms-4 fs-6 text-white "></i> 
                  </a>
                   <ul class="collapse text-white ms-1" id="submenu3">
                      <li >
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Default</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Project</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Ecommerce</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Education</span></a>
                      </li>
                  </ul>
              </li>
             
            </ul>
               
        </div>
            
              <div class="head1 text-white  mt-5 px-5  d-flex justify-content-center bg-secondary">
                <p class="px-5" >Applications</p> 
                
            </div>
            <ul class="m-0">
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu4" class="nav-link px-0 align-middle">
                    <div>  <i class="fa-solid fa-circle-info text-white  me-2"></i> <span class="ms-1 d-none d-sm-inline text-white fs-6 ">Project</span></div>
                      <i class="fa-solid fa-angle-right ms-4 fs-6 text-white "></i> 
                  </a>
                   <ul class="collapse text-white ms-1" id="submenu4">
                      <li >
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Default</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Project</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Ecommerce</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Education</span></a>
                      </li>
                  </ul>
              </li>
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu5" class="nav-link px-0 align-middle">
                     <div> <i class="fa-regular fa-file text-white  me-2"></i>  <span class="ms-1 d-none d-sm-inline text-white fs-6">File Manager</span></div>
                     
                  </a>
                  
              </li>
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu6" class="nav-link px-0 align-middle ">
                     <div> <i class="fa-solid fa-wallet text-white  me-2"></i> <span class="ms-1 d-none d-sm-inline text-white fs-6">Kanban Board</span></div>
                     
                  </a>
                  
              </li>
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu7" class="nav-link px-0 align-middle">
                     <div> <i class="fa-solid fa-bag-shopping text-white  me-2"></i><span class="ms-1 d-none d-sm-inline text-white fs-6 ">Ecommerce</span></div>
                      <i class="fa-solid fa-angle-right ms-4 fs-6 text-white "></i>
                  </a>
                   <ul class="collapse text-white ms-1" id="submenu7">
                      <li >
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Default</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Project</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Ecommerce</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Education</span></a>
                      </li>
                  </ul>
              </li>
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu8" class="nav-link px-0 align-middle">
                      <div><i class="fa-regular fa-envelope text-white  me-2"></i>  <span class="ms-1 d-none d-sm-inline text-white fs-6">Letter Box</span></div>
                   
                  </a>
                
              </li>
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu9" class="nav-link px-0 align-middle ">
                      <div><i class="fa-regular fa-comment-dots text-white me-2"></i> <span class="ms-1 d-none d-sm-inline text-white fs-6">Chat</span></div>
                      <i class="fa-solid fa-angle-right ms-4 fs-6 text-white "></i>
                  </a>
                   <ul class="collapse text-white ms-1" id="submenu9">
                      <li >
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Default</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Project</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Ecommerce</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Education</span></a>
                      </li>
                  </ul>
              </li>
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu10" class="nav-link px-0 align-middle">
                      <div><i class="fa-regular fa-user text-white  me-2"></i>    <span class="ms-1 d-none d-sm-inline text-white fs-6 ">Users</span></div>
                      <i class="fa-solid fa-angle-right ms-4 fs-6 text-white "></i> 
                  </a>
                   <ul class="collapse text-white ms-1" id="submenu10">
                      <li >
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Default</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Project</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Ecommerce</span></a>
                      </li>
                      <li><hr class="dropdown-divider"></li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Education</span></a>
                      </li>
                  </ul>
              </li>
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu11" class="nav-link px-0 align-middle">
                     <div> <i class="fa-regular fa-bookmark text-white  me-2"></i><span class="ms-1 d-none d-sm-inline text-white fs-6">Bookmarks</span></div>
                     
                  </a>
                 
              </li>
              <li class="side-item">
                  <a href="" data-bs-toggle="collapse" data-bs-target="#submenu12" class="nav-link px-0 align-middle ">
                    <div>  <i class="fa-solid fa-phone-volume text-white  me-2"></i> <span class="ms-1 d-none d-sm-inline text-white fs-6">Contacts</span></div>
                   
                  </a>
                  
              </li>
            </ul>
                
            </div>
            

        </div>
        
            <div class="content p-0 m-0">
                <app-header></app-header>
                <app-dashboard></app-dashboard>
            </div>
       
    </div>
  
</div>