
.close-logo {
    font-size: 20px;
    padding: 5%;
    margin-left: 5%;
    margin-right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.sidebar{
    width: 15%;
    overflow-y:scroll;
}
.content{
    width: 85%;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.head {
    height: 25px;
    font-weight: bold;
    line-height: 20px;
    width: 100px;
    border-radius: 8px;
}

.head1 {
    height: 25px;
    font-weight: bold;
    line-height: 20px;
    width: 120px;
    border-radius: 8px;
}
a:hover{
background-color: rgba(210, 219, 227, 0.78);
border-radius: 3px;
color: aliceblue;
font-weight: bold;

}
.side-item{
    font-weight: 600;
    margin-left: -30px;
    padding-left: -10px;
    margin-right: 0;   
    line-height: 35px;
}
.container-fluid ul li a{
   display: flex;
    justify-content: space-between;
}
.container-fluid ul li ul li{
   
    margin-left: -25px;
    color: gray;
}
.fa-angle-right{ 
    margin-top: 7px;
  
}

.nav-link span{
    white-space: nowrap;
}



@media screen and (max-width: 1165px) {
    .sidebar{
        width: 20%;
    }
    
    .content{
        width: 80%;
    }
  }
 
  @media screen and (max-width: 1070px) {
    .sidebar{
        width: 25%;
    }
   
    .content{
        width: 75%;
    }
  }


  @media screen and (max-width: 885px) {
    .sidebar{
        width: 30%;
    }

    .content{
        width: 100%;
    }
  }