<div class="container-fluid m-0 p-0">
    <div class="d-flex">
        <div [style.display]="display" class="sidebar d-md-none">
            <app-sidebar></app-sidebar>
        </div>
        <div class="sidebar d-sidebar ">
            <app-sidebar></app-sidebar>
        </div>
        <div class="toggle-icon" (click)="toggleSidebar()">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
        <div class="content">
            <app-header></app-header>
            <app-dashboard></app-dashboard>
        </div>

    </div>
</div>